<footer>
    <section class="main-footer">
        <div class="container-footer-logo">
            <img class="logo-footer" src="/img/logo.svg" alt="Logo-Medellin-Travel">
        </div>
        <ul class="footer-links">
            <li><a href="">Quienes Somos</a></li>
            <li><a href="">Políticas de privacidad</a></li>
            <li><a href="">Políticas de seguridad</a></li>
            <li><a href="">Términos y condiciones</a></li>
        </ul>
        <ul class="footer-links">
            <li><a href="">Contáctenos</a></li>
            <li><a href="">¿Necesitas ayuda?</a></li>
            <li><a href="">Nuestros servicios</a></li>
            <li><a href="">Envianos tu CV</a></li>
        </ul>
        <ul class="footer-links">
            <li><a href="">Números y horarios de atención</a></li>
            <li><a href="">Lunes a viernes 09hs a 18hs.</a></li>
            <li><a href="">Sábados 09hs a 15hs</a></li>
            <li><a href="">0800 222 5665</a></li>
        </ul>
    </section>
</footer>
