<nav class="main-navbar">
    <div class="container-nav-logo">
        <img class="nav-logo" src="/img/logo.svg" alt="Logo-Medellin-Travel">
    </div>
    <input type="checkbox" id="toggler">
    <label for="toggler"><i class="fa-solid fa-bars"></i></label>
    <div class="menu">
        <ul class="list">
            <li class="li-menu-item"><a href="/"><i class="fa-solid fa-house"></i></a></li>
            <li class="li-menu-item">
                <div class="dropdown">
                    <button class="dropbtn"><a href="">Transportes</a></button>
                    <div class="dropdown-content">
                        <a href="/#servicios">Asesoramiento</a>
                        <a href="/#servicios">Traslados</a>
                        <a href="/#servicios">Tours cortos</a>
                        <a href="/#servicios">Transporte ejecutivo</a>
                        <a href="/#servicios">Tours</a>
                        <a href="/#servicios">Viajes intermunicipales</a>
                    </div>
                </div>
            </li>
            <% if (locals.isLogged) { %>
            <li class="li-menu-item"><a href=""><i class="fa-solid fa-heart"></i></a></li>
            <li class="li-menu-item">
                <div class="dropdown">
                    <button class="dropbtn userLogged"><a href=""><img src="/img/users/<%= locals.userLogged.image %>" class="userImage"></a></button>
                    <div class="dropdown-content userLogged">
                        <a class="dropdown-item" href="/users/logout">Logout</a>
                    </div>
                </div>
            </li>  
            <li class="li-menu-item" style="color: white;"><a><%=locals.userLogged.name%></a></li>  
            <li class="li-menu-item"><a href="/users/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <% } else { %>
            <li class="li-menu-item"><a href="/users/register"> Registrarse </a></li>
            <li class="li-menu-item"><a href="/users/login"> Inicia Sesión</a></li>
            <% } %>
        </ul>
    </div>
</nav>