


<nav class="main-navbar">
    <div class="container-nav-logo">
        <img class="nav-logo" src="/img/logo.svg" alt="Logo-Medellin-Travel">
    </div>
    <input type="checkbox" id="toggler">
    <label for="toggler"><i class="fa-solid fa-bars"></i></label>
    <div class="menu">
        <ul class="list">
            
            <li class="li-menu-item"><a href="/"><i class="fa-solid fa-house"></i></a></li>
            <li class="li-menu-item"><a href=""><i class="fa-solid fa-heart"></i></a></li>
            <li class="li-menu-item"><div class="dropdown">
                <button class="dropbtn"><a href="">Transportes</a></button>
                <div class="dropdown-content">
                <a href="#">Asesoramiento</a>
                <a href="#">Traslados</a>
                <a href="#">Tours cortos</a>
                <a href="#">Transporte ejecutivo</a>
                <a href="#">Tours</a>
                <a href="#">Viajes intermunicipales</a>
                </div>
              </div></li>
            <li class="li-menu-item"><a href=""><i class="fa-solid fa-user-large"></i></a></li>
            <li class="li-menu-item"><a href="/productCart"><i class="fa-solid fa-cart-shopping"></i></a></li>
        </ul>
    </div>
</nav>
