<% let resultado = encodeURIComponent('Hola!! Necesito información a cerca de los tours que vi en la pagina web') %> 

<div class="wpp">
  <a target="_blank" href="https://api.whatsapp.com/send?phone=573006160077&text=<%= resultado %> " ><i class="fa-brands fa-whatsapp"></i></a>
</div>