.box {
    width: 120px;
    height: 30px;
    border: 1px solid #999;
    font-size: 18px;
    color: #1c87c9;
    background-color: #eee;
    border-radius: 5px;
    box-shadow: 4px 4px #ccc;
  }

  .main-header-create {
    background-image: url("https://images.unsplash.com/photo-1587813369290-091c9d432daf?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");
    background-position: center;
    width: 100vw;
    height: 40vh;
    background-repeat: no-repeat;
  }

  .editarImagen {
      width: 100%;
  }

  .main-header-create {
    background-image: url("https://images.unsplash.com/photo-1587813369290-091c9d432daf?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");
    background-position: center;
    width: 100vw;
    height: 40vh;
    background-repeat: no-repeat;
  }

