/* .box {
  width: 120px;
  height: 30px;
  border: 1px solid #999;
  font-size: 18px;
  color: #1c87c9;
  background-color: #eee;
  border-radius: 5px;
  box-shadow: 4px 4px #ccc;
}
 */

.body-edition {
  background-image: url("https://images.unsplash.com/photo-1587813369290-091c9d432daf?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.main-edition {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*Styles counter*/
.txtCounter {
  color: #fff;
}

.txt-clarification {
  color: #fff;
}


/*Styles error*/

.error {
  color:red;
  background-color: white;
  
  margin-top: 10px;
}

/*Input styles*/

.form-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-bottom: 5%;
}

.form-container .form-label {
  margin-top: 1% 0px;
}

.form-container .form-textarea {
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.form-container .form-textarea:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #bebebe 100%);
  border-bottom: 3px solid rgb(0, 0, 0);

}

.form-container .form-textarea:focus {
  border-bottom: 3px solid rgb(0, 0, 0);
  background: linear-gradient(to bottom, #ffffff 5%, #bebebe 100%);
  color: black;
}

.input-tour {
  width: 100%;
  outline: none;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
}

.form-container .input-tour:hover {
  border-bottom: 2px solid rgb(0, 0, 0);
  background: linear-gradient(to bottom, #ffffff 5%, #bebebe 100%);
  color: black;
}

.form-container .input-tour:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
  background: linear-gradient(to bottom, #ffffff 5%, #bebebe 100%);
  color: black;
}

.container-tour-img {
  display: flex;
  flex-direction: column;
}

.tour-img, .tour-img-edit{
    cursor: pointer;
    color: black;
    width: 90%;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 5px;
}


.tour-img:hover, .tour-img-edit:hover {
  background: linear-gradient(to bottom, #ffffff 5%, #bebebe 100%);
  cursor: pointer;
}

.editarImagen {
  width: 300px;
}


.tour-price {
  width: 90%;
}

/*Media*/
@media(min-width:320px) {

  .form-container {
    width: 90%;
    padding: 25px;
    background-color: rgba(33, 33, 33, 0.7);
  }


  .textarea1 {
    width: 100%;
    height: 70px;
    padding: 15px;
  }

  .textarea2 {
    width: 100%;
    height: 150px;
    padding: 15px;
  }

  .editarImagen {
    margin: 1%;
    width: 300px;
  }


}

@media(min-width:768px) {

  .form-container {
    width: 50%;
    padding: 25px;
    background-color: rgba(33, 33, 33, 0.7);
}

  .editarImagen {
    width: 300px;
  }

  .input-tour {
    width: 100%;
  }
  .tour-img {
    width: 100%;
  }
  .tour-price {
    width: 100%;
  }
}

@media(min-width:1020px) {
  .input-tour {
    width: 100%;
  }
  .tour-img {
    width: 100%;
  }
  .tour-img-edit {
    width: 35%;
  }
  .tour-price {
    width: 100%;
  }
}




