body {
    height: 100%;
    font-family: Arial, sans-serif;
    margin:0;
}

* {
    box-sizing: border-box;
}

h1 {
    text-align:center;
    color:rgb(255, 255, 255);
    font-size:50px;
    font-weight: bold;
    
}

/* styling background image */
.bg-img {
    background-image: url(
"Medellin.jpg");
    min-height: 500px;
    background-size: cover;
    display: flex;
    justify-content: center;
}

/* Styling the form container */
.container {
    position: absolute;
    left: auto;
    right:auto;
    top: 200px;
    width: 40%;
    height: 65%;
    padding: 25px;
    background-color: rgba(33, 33, 33, 0.5);
}

b {
    color: rgb(255, 255, 255);
    font-size:26px;
    
}

/* Full-width input */
input[type=text],
input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 15px 0px;
    
}



/* Styling the submit button */
.button {
    background-color: #081454;
    color: white;
    padding: 16px ;
    border: none;
    cursor: pointer;
    width: 35%;
    font-size:25px;
    
}

.d-block {
    height: 40%;
}


.button:hover {
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    color:#ffffff;
}


/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 50px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .main-header-login {
    background-image: url("https://i.imgur.com/aLmdQDm.png");
    background-position: center;
    width: 100vw;
    height: 40vh;
  }

  .masOpciones {
      font-size:17px;
  }

  .botones {
      text-align: center;
      margin: 2%;
  }