.body-login {
    font-family: Arial, sans-serif;
    margin: 0;
}

.header-login {
    background-image: url("https://medellinliving.com/wp-content/uploads/2018/07/Medellin-Colombia.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 40vh;
}

.main-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: fit-content;
}

.form-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;
    max-height: fit-content;
    padding: 25px;
    background-color: rgba(33, 33, 33, 0.7);
    margin-top: -10%;
    margin-bottom: 5%;
}

.title-login {
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 30px;
}

.title {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 46px;
    font-weight: bold;
}

/* Forms style */

.form-input {
    border: none;
    border-radius: 5px;
    outline: none;
    border-bottom: 1px solid white;
}

.form-input:hover {
    background: linear-gradient(to bottom, #ffffff 5%, #bebebe 100%);
    border-bottom: 1px solid black;
}

.form-input:focus {
    background: linear-gradient(to bottom, #ffffff 5%, #bebebe 100%);
    border-bottom: 1px solid black;
}

.form-label,
.form-label-checkbox {
    color: #ffffff;
}


.input-file {
    border: none;
}

/*buttons*/

.moreOptions {
    margin: 0;
}

/*Media*/

@media (min-width: 320px) {
    .form-login {
        font-size: 14px;
    }

    /* Styling the form container */
    /* 
    .container {
        position: absolute;
        top: 200px;
        width: 90%;
        padding: 25px;
        background-color: rgba(33, 33, 33, 0.7);
    }

    .container2 {
        position: absolute;
        top: 200px;
        width: 90%;
        max-height: fit-content;
        padding: 25px;
        background-color: rgba(33, 33, 33, 0.7);
    } */

    .form-login p {
        color: rgb(255, 255, 255);
    }

    /* Full-width input */
    .form-login .form-input {
        width: 100%;
        padding: 15px;
        margin: 15px 0px;
    }

    .buttonsEdit {
        display: flex;
        justify-content: center;
    }


    /* Styling the submit button */
    .button {
        background-color: #081454;
        border-radius: 5px;
        color: white;
        padding: 16px 8px;
        border: none;
        cursor: pointer;
        font-size: 16px;
        margin: 5% 2% 2% 2%;
    }

    .button:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        color: #ffffff;
    }

    .cancelButton {
        background-color: #545f9e;
        text-align: center;
    }

    .resetButton {
        background-color: #081525;
    }

    .resetButton:hover {
        background: linear-gradient(to bottom, rgb(6, 9, 49) 5%, rgb(13, 33, 212) 100%);
    }

    .buttons,
    .button1 {
        text-align: center;
        margin: 0%;
    }

}

@media (min-width: 768px) {
    .form-login {
        font-size: 24px;
    }

    .title-login {
        font-size: 40px;
    }

    .form-login {
        width: 80%;
    }

    .button {
        font-size: 20px;
        width: 50%;
    }


}

@media (min-width: 969px) {
    .title-login {
        font-size: 50px;
    }

    .form-login {
        width: 65%;
    }

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 50px;
        /* Should be removed. Only for demonstration */
    }



    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /* Styling the form container */
    /* .container {
        position: absolute;
        top: 200px;
        width: 85%;
        padding: 25px;
        background-color: rgba(33, 33, 33, 0.5);
    }

    .container2 {
        position: absolute;
        top: 200px;
        width: 85%;
        max-height: fit-content;
        padding: 25px;
        background-color: rgba(33, 33, 33, 0.5);
    } */

    .form-login p {
        color: rgb(255, 255, 255);
        font-size: 20px;
    }

    /* Full-width input */
    .form-login .form-input {
        width: 100%;
        padding: 15px;
        margin: 15px 0px;
    }

    /* .d-block {
        height: 40%;
    } */

    /* Create two equal columns that floats next to each other */
    .column {
        float: left;
        width: 50%;
        padding: 50px;
        /* Should be removed. Only for demonstration */
    }

    .column-image {
        width: 100%;
        padding: 0px 50px;
        max-height: fit-content;
    }

    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    /*buttons*/
    /* Styling the submit button */

    .button {
        width: 30%;
        font-size: 25px;
        margin-top: 5%;
    }

    .button:hover {
        background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
        color: #ffffff;
    }

    .moreOptions {
        font-size: 12px;
        margin: 0px;
    }

    .buttons,
    .button1 {
        text-align: center;
        margin: 0%;
    }
}