* {
    box-sizing: border-box;
}

.html {
    min-height: 84vh;
    position: relative;
}

.body {
    margin: 0;
    margin-bottom: 40px;
    font-family:'Fira Sans', sans-serif;
}



.footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    color: white;
}



/* Barra de navegacion */

.main-footer {
    background-image: url("https://mediaim.expedia.com/destination/1/220c8c7ced5ebeda571f9ff5754001f4.jpg");
    background-position: center;
    height: 20vh;
}

.main-navbar { 
    background-color: rgba(1, 1, 1, 0.60);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
}

.main-navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}

 i {
    color: rgb(160, 160, 160);
}

.container-nav-logo {
    width: 50px;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-logo {
    width: 50px;
}

.menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main-navbar label {
    display: inline-flex;
    align-items: center;
}

#toggler {
    display: none;
}

#toggler:checked ~ .menu {
    max-height: 100%;
}

/* Cuerpo De Pagina*/

/* Diseño de Tabs */


.t-container {
    width: 90%;
    max-width: 120em;
    padding: 1em;
}

.t-container .t-tabs {
    font-size: 20px;
    font-weight: bolder;
    list-style: none;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

}

.t-container .li {
    padding: 1em;
    margin: 0 1em 0 0;
}

.t-container .li.activo {
    border-bottom: solid 1px #000;
}

.t-container .sub-container {
    min-height: 10vh;
    position: relative;
}

.t-container .section {
    background-color: #ffffff;
    padding: 1em;
    margin: 1em;
    position: absolute;
    opacity: 0;
}

.t-container .section.activo {
    opacity: 1;
}


/* Tab Carrito */

.articulos tr {
    flex-wrap: wrap;
}

.articulos tr, th, td {
    text-align: left;
    padding: 5px 20px;
}


.articulos img {
    width: 109px;
    vertical-align: middle;
}

.articulos td {
    color: #000;
    font-weight: bold;
    font-size: 16px;
    border-bottom: solid 1px rgba(112, 112, 112, 1);
}


.articulos .buy-button {
    text-decoration:none;
    font-weight:600;
    color:#ffffff;
    padding: 8px 8px;
    background-color: rgb(106, 107, 147);
}

.articulos .compra-total td {

    padding-top: 50px;
    border-bottom: none;
}


.articulos  .suma-total {
    padding: 5px;
    background-color: rgba(196, 196, 196, 0.5)
}

/* Tab Favoritos */ 

.fav-articles {
    padding-bottom: 20px;
    align-content: center;
    display: flex;   
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
}

.fav-articles a {
    text-decoration: none;
    color: #000;
}

.fav-articles .reservar {
    text-decoration:none;
    font-weight:600;
    color:#ffffff;
    padding: 8px 8px;
    background-color: rgb(106, 107, 147);
}

.fav-articles article {
    margin: 10px;
}

.fav-articles div {
    display: flex;
    flex-direction: row;
}

.fav-articles article img {
    width: 109px;
    vertical-align: top;
}




/* Footer */

.main-footer {
    background-color: rgb(100, 107, 147);
    padding: 20px;
}

.container-footer-logo {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-footer {
    width: 50%;
}

.main-footer a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.main-footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .main-navbar{
        background-color: rgba(1, 1, 1, 0.35);
    }
    .container-nav-logo {
        width: 100px;
    }
    .nav-logo {
        width: 100%;
    }

    .menu {
        width:  fit-content;
        max-height: fit-content;
        overflow: visible;
    }
    .list{
        
        flex-direction: row;
        align-items: flex-end;
    }
    
    #toggler, .main-navbar label {
    display: none;
    }

    .li-menu-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .main-navbar ul {
        display: flex;
    }
    
    .main-navbar li {
        margin: 0 20px;
    }

    /* footer */

    .container-footer-logo{
        display: block;
        order: 1 ;
    }
    .main-footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {
    .container-footer-logo{
        display: block;
        order: 0 ;
    }
}