* {
    box-sizing: border-box;
}

body {
    font-family:'Fira Sans', sans-serif;
}

/* Barra de navegacion */

header {
    background-image: url("https://mediaim.expedia.com/destination/1/220c8c7ced5ebeda571f9ff5754001f4.jpg");
    background-position: center;
    height: 20vh;
}

.navbar i {
    color: rgb(160, 160, 160);
}

.main-navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-navbar a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 0px 0px;
    font-size: 10px;
}

.container-nav-logo {
    margin-top: auto;
    margin-bottom: auto;

}

.nav-logo {
    width: 15%;
}

.li-menu-item {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav-menu {
    display: flex;
}

.main-navbar { 
    background-color: rgba(1, 1, 1, 0.35);
    display: flex;
    justify-content: space-between;
}

.main-navbar ul {
    display: flex;
}

.main-navbar li {
    margin: 0 20px;
}

/* Footer */



.main-footer {
    background-color: rgb(100, 107, 147);
    min-height: 20vh;
}

.container-footer-logo {
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
}

.logo-footer {
    width: 50%;
}

.main-footer a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 5px 0;
    font-size: 17px;
}

.main-footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

@media (min-width: 768px) {
    .main-navbar a {
        font-size: 17px;
        padding: 5px 0px;
    }
    .container-nav-logo{
        padding-left: 10px;
    }
    .container-footer-logo{
        display: block;
        order: 1 ;
    }
    .main-footer {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media (min-width: 1200px) {
    .container-footer-logo{
        display: block;
        order: 0 ;
    }
}