.body-profile {
    background-image: url("https://i.imgur.com/zUQoPmM.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
}

.main-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-profile {
    color: #ffffff;
}
.main-profile h2 i {
    color: #000;
}

.container-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    margin: 10% 0px;
    background-color:rgba(1, 1, 1, 0.65);
}

.img-profile {
    border-radius: 50%;
    width: 260px;
}

.detail-profile-div {
    margin-top: 5%;
    padding: 5px;
}

.detail-profile-div .fa-pen-to-square {
    color: white;
}

.edit-profile-btn {
    background-color: #7892c2;
    border-radius: 5px;
    color: white;
    padding: 16px 8px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    width: 200px;
    margin: 5% 2% 2% 2%;
    display: flex;
    justify-content: space-between;
}

.edit-profile-btn p {
    margin: 0px;
}

.edit-profile-btn:hover {
    background: linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    color: #ffffff;
}

/* User edit */
.form-user-edit{
    background-color:rgba(1, 1, 1, 0.65);
    font-size: 18px;
}
.form-user-edit i {
    color: #fff;
}
.container-edit-user {
    display: flex;
    flex-direction: column;
}




@media (min-width: 768px) {
    .container-profile {
        flex-direction: row;
        font-size: 18px;
        box-shadow: 10px 10px 5px 0px rgb(0, 0, 0);
    }
    .form-user-edit {
        box-shadow: 10px 10px 5px 0px rgb(0, 0, 0);
    }
    .img-profile-div {
        margin-right: 40px;
    }
    .img-profile {
        height: 260px;
        width: 390px;
    }
    .detail-profile-div {
        margin-top: 0px;
    }

}

@media (min-width: 1024px) {
    .container-edit-user {
        flex-direction: row;
    }
    .input-user {
        width: 95%;
    }
}