/*general design */

* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body {
    font-family: "Fira Sans", sans-serif;
}

/* navbar responsive */

.main-header {
    background-image: url("https://i.imgur.com/Z7JNekS.jpg?1");
    background-repeat: no-repeat;
    background-size: cover;
    height: 20vh;
}

.main-navbar {
    background-color: rgba(1, 1, 1, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px;
    width: 100%;
    position: fixed;
    z-index: 100;
}

.main-navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}

.dropdown-content {
    background-color: rgba(1, 1, 1, 0.6);
}

.main-navbar ul {
    margin: 1.5% 0;
}

.main-navbar ul,
li {
    list-style: none;
}

.main-navbar a:hover,
i:hover {
    color: #7892c2;
}

.container-nav-logo {
    width: 50px;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-logo {
    width: 50px;
}

.menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main-navbar label {
    display: inline-flex;
    align-items: center;
}

#toggler {
    display: none;
}

#toggler:checked~.menu {
    max-height: 100%;
}


/* Footer */

.main-footer {
    background-color: rgb(100, 107, 147);
    padding: 10px;
}

.container-footer-logo {
    max-width: 100px;
}

.logo-footer {
    width: 100%;
}

.main-footer a {
    text-decoration: none;
    color: #ffffff;
    display: inline-block;
    padding: 5px 0;
    font-size: 14px;
}

.main-footer li {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}


/* Media queries */

@media (min-width: 768px) {

    /* navbar */

    .main-navbar {
        background-color: rgba(1, 1, 1, 0.65);
    }

    .container-nav-logo {
        width: 70px;
    }

    .nav-logo {
        width: 100%;
    }

    .menu {
        width: fit-content;
        max-height: fit-content;
        overflow: visible;
    }

    .list {
        flex-direction: row;
        align-items: flex-end;
    }

    #toggler,
    .main-navbar label {
        display: none;
    }

    .li-menu-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 5px 10px;
    }

    /* Footer */

    .main-footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .main-footer a:hover {
        color: #081454;
    }

    .main-footer li {
        text-align: left;
    }

    .container-footer-logo {
        max-width: 15%;
    }

}

@media (min-width: 1200px) {

    /* Footer */
    
    .main-footer {
        display: flex;
        justify-content: space-around;
    }

    .main-footer a {
        font-size: 17px;
    }
}