body {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
.servicios {
    font-size: 1.5em;
    text-align: center;
}

.servicio {
    margin: 2%;
}

.servicio h3 {
    font-weight: bold;
}

.tituloServicio {
    text-align: center;
    font-weight: bold;
    padding-top: 30px;
}

.servicio p {
    font-size: 0.6em;
}

.destacados {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(100 107 147);
    justify-content: center;
    padding: 15px 0;
}

.tour {
    width: 100%;

}
.descripcion{
    white-space: normal;
}
.descripcion p{
    overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
           line-clamp: 2; 
   -webkit-box-orient: vertical;
}
.descripcion h3{
    white-space: nowrap;
    font-size: 16px;
}
div.scrollmenu {
    background-color: rgb(100 107 147);
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 6px;
    text-decoration: none;
    width: 50%;
    background-color: #ffffff;
    margin: 1%;
    text-align: left;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.masTours2 {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(100 107 147);
}
.buttonForm{
    width: 35%;
    margin: auto;
}
.myButton {
    padding: 10px;
}

.nosotros {
    font-size: 1em;
    margin: 3%;
    text-align: center;
}

.formulario {
    text-align: center;
    font-size: 1em;
    margin: 3%;
}

.contactanos p {
    margin: 2%;
    text-align: center;
}

.formulario {
    padding: 20px 15px;
    margin: 10px;
}

.campo {
    margin-bottom: 15px;
}

.campo label {
    margin-bottom: 5px;
    display: block;
    text-align: left;
    font-weight: bold;
}

.persona {
    width: 100%;
    padding: 2px;
}

.fa-brands {
    background-color: none;
    color: #39b54a;
    font-size: 48px;
}

.wpp {
    position: fixed;
    bottom: 7px;
    right: 7px;
    background-color: #EDEDED;
    border-radius: 40px;
    padding: 5px 12px;
}


@media(min-width: 481px) {
    .servicios {
        display: flex;
        flex-wrap: wrap;
        align-self: flex-start;
        justify-content: center;
    }

    .servicio {
        width: 40%;
        padding: 10px;
        height: 40%;
    }

    .servicio p {
        font-size: 0.6em;
    }

    .tituloServicio {
        text-align: center;
    }
    div.scrollmenu a {
        width: 36%;
    }
    .formulario {
        padding: 20px 122px;
    }
}

@media(min-width:769px) {
    .servicio {
        width: 20%;
        padding: 0%;
        margin: 3%;
    }

    .mensaje {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    div.scrollmenu a {
        width: 25%;
    }

    .contactanos {
        width: 30%;
    }

    .persona {
        width: 90%;
        padding: 2px;
    }

    .campo label {
        padding-left: 15px;
    }

    .formulario {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 55px;
        width: 60%;
    }

    .campo {
        width: 50%;
    }

    .botonEnviar {
        width: 50%;
        align-self: center;
    }
    .buttonForm{
        width: unset;
    }
    .myButton{
        min-width: 0%;
    }

    .descripcion h3 {
        font-size: 18px;
    }
}


