.body-tours {
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.sectionCard{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.toursDetail{
    box-sizing: border-box;
    background-color: white;
    width: 90%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}
.toursDetail a{
    text-decoration: none;
}
.detalleT{
    padding: 15px;
}
.detalleT h4,p{
    text-decoration: none;
    color: black;
    margin-bottom: 20px;
}
.titularTour{
    margin: 20px;
    text-align: center;
    font-size: 24px;
}
.precioT{
    font-size: 18px;
}
.descripcionT{
    font-size: 16px;
    
}

.sectionCard article img{
    width: 100%;
}
@media(min-width: 426px){
    .toursDetail{
        width: 40%;
        margin: 10px;
    }
}

@media(min-width: 769px){
    .toursDetail{
        width: 30%;
        margin: 10px;
    }
}
