<!DOCTYPE html>
<html>

<%- include("partials/head") %>

<body>

    <header class="main-header-create">
        <%- include("partials/header-register") %>
    </header>
    <div class="login-div-container">

        <form  method="post"  enctype="multipart/form-data" class="form-container">
            <h1 class="titulo"><i class="fa-solid fa-circle-plus"></i> Nuevo tour</h1>

            <label for="tourName" class="form-label">Nombre:</label>
            <input type="text" name="username" placeholder="Piedra del Peñol" class="edit-input" required>

            <label for="shortDescription" class="form-label">Mini descripción:</label>
            <textarea class="textarea1" name="shortDescription" placeholder="Conoce uno de los atractivos turisticos mas importantes de la region..."></textarea>
            <label for="description" class="form-label">Descripción:</label>
            <textarea class="textarea2" name="description" placeholder="Salida del crucero: horarios en función de la temporada Embarque: en Port de l'Arsenal, 75012 Paris

            Bar a bordo a su disposición
            
            Ambiente de guinguette en cuanto los pasajeros llegan al Port de l'Arsenal
            
            Opcional:
            
            Copa de Champagne
            Copa de vino
            Tabla de embutidos y quesos franceses (para 2 personas)"></textarea>

            <label for="image" class="form-label">Imagen:</label>
            <input type="file" name="image" class="edit-input" multiple>

            <label for="duration" class="form-label">Duración:</label>
            <input type="number" name="duration" placeholder="" class="edit-input" required>

            <label for="price" class="form-label">Precio:</label>
            <input type="number" name="price" placeholder="" class="edit-input" required>

            <div class="buttons">
                <button type="submit" class="button">Cancelar</button>
                <button type="submit" class="button">Continuar</button>
            </div>
        </form>
    </div>

    <div class="create-footer">
        <%- include("partials/footer") %>
    </div>
</body>

</html>