<!DOCTYPE html>
<html>

<%- include("partials/head") %>

<body>

    <header class="main-header-create">
        <%- include("partials/header-register") %>
    </header>
    <div class="login-div-container">

        <form  method="POST"  enctype="multipart/form-data" action="/tours/create" class="form-container">
            <h1 class="titulo"><i class="fa-solid fa-circle-plus"></i> Nuevo tour</h1>

            <label for="nombre" class="form-label">Nombre:</label>
            <input type="text" name="nombre" placeholder="Piedra del Peñol" class="edit-input" required>

            <label for="descripcionCorta" class="form-label">Mini descripción:</label>
            <textarea class="textarea1" name="descripcionCorta" placeholder="Conoce uno de los atractivos turisticos mas importantes de la region..."></textarea>
            <label for="descripcionDetallada" class="form-label">Descripción:</label>
            <textarea class="textarea2" name="descripcionDetallada" placeholder="Salida del crucero: horarios en función de la temporada Embarque: en Port de l'Arsenal, 75012 Paris

            Bar a bordo a su disposición
            
            Ambiente de guinguette en cuanto los pasajeros llegan al Port de l'Arsenal
            
            Opcional:
            
            Copa de Champagne
            Copa de vino
            Tabla de embutidos y quesos franceses (para 2 personas)"></textarea>

            <label for="imagen1" class="form-label">Imagen1:</label>
            <input type="file" name="imagen1" class="edit-input" multiple>

            <label for="imagen2" class="form-label">Imagen2:</label>
            <input type="file" name="imagen2" class="edit-input" multiple>

            <label for="imagen3" class="form-label">Imagen3:</label>
            <input type="file" name="imagen3" class="edit-input" multiple>

            <br><label for="duracion" class="form-label">Duración:</label>
            <input type="number" name="duracion" placeholder="" class="edit-input" required>

            <label for="precio" class="form-label">Precio:</label>
            <input type="number" name="precio" placeholder="" class="edit-input" required>

            <div class="buttonsEdit">
                <button type="submit" class="button cancelButton">Cancelar</button>
                <button type="submit" class="button">Guardar</button>
            </div>
        </form>
    </div>

    <div class="create-footer">
        <%- include("partials/footer") %>
    </div>
</body>

</html>