<!DOCTYPE html>
<html class="htmlCart" lang="en">

<%- include("partials/head") %>


<body class="body-cart">
    <header class="main-header">
        <%- include("partials/header") %>
    </header>

    <main class="main-cart">
        <div class="t-container">
            <ul class="t-tabs">
                <a href="/users/productCart">
                    <li class="cart-li"><i class="fa-solid fa-cart-shopping"></i> Carrito</li>
                </a>
                <a href="/users/favorites">
                    <li class="cart-li activo"><i class="fa-solid fa-heart"></i> Favoritos</li>
                </a>
            </ul>

                <div class="fav-articles">
                    <article>
                        <img src="https://149370792.v2.pressablecdn.com/wp-content/uploads/2016/12/IMG_4905.jpg"
                            alt="Tour de graffitis">
                        <h2>
                            Tour de graffitis <a href="#" class="favorite"><i class="fa-solid fa-heart"></i>
                        </h2>
                        <a href="#" class="reserve"> Reservar</a>
                    </article>
                    <article>
                        <img src="https://pbs.twimg.com/media/E2USmL4VUAI2nWo.jpg" alt="Piedra del Peñol">
                        <h2> Piedra del Peñol <a href="#" class="favorite"><i class="fa-solid fa-heart"></i>
                        </h2>
                        <a href="#" class="reserve"> Reservar</a>
                    </article>
                </div>
            </div>


            </div>

        </div>
    </main>
    <div class="footer">
        <%- include("partials/footer") %>
    </div>

</body>

</html>