<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
    <link rel="stylesheet" href="/css/styleIndex.css">
    <title>MedellinTravel</title>
</head>

<body>
    <header>
        <nav class="main-navbar">
            <div class="container-nav-logo">
                <img class="nav-logo" src="/img/logo.svg" alt="Logo-Medellin-Travel">
            </div>
            <input type="checkbox" id="toggler">
            <label for="toggler"><i class="fa-solid fa-bars"></i></label>
            <div class="menu">
                <ul class="list">
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-house"></i></a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-heart"></i></a></li>
                    <li class="li-menu-item"><a href="">Transportes</a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-user-large"></i></a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </div>
        </nav>
    </header>
     <section class="servicios">
         <h2>SERVICIOS</h2>
         <h3>Asesoramiento</h3>
         <span>Asesoramiento sobre <br>qué lugares visitar,<br>dependiendo del tiempo que<br>tenga y las actividades que deseas.</span>
         <h3>Traslados</h3>
         <span>Traslados desde el<br>aeropuerto hasta el hotel o<br>terminal y desde el hotel al tour.</span>
         <h3>Tours cortos</h3>
         <span>Ofrecemos tours desde 2hs<br>para aquellas personas<br>que cuentan con poco tiempo<br>para conocer la Ciudad.</span>
         <h3>Transporte ejecutivo</h3>
         <span>Traslado por trabajo dentro y<br>fuera de la Ciudad.</span>
         <h3>Tours</h3>
         <span>Brindamos la posibilidad<br>de conocer la Ciudad completa<br> y todos sus alrededores en nuestras<br>ofertas de tours</span>
         <h3>Viajes intermunicipales</h3>
         <span>Conozca los pueblos que conectan<br>la cultura de Medellín.</span>
    </section>
    <section class="Destacados">

    </section>
    <section class="somos">
        <h2>QUIENES SOMOS</h2>
        <p>Nosotros ofrecemos servicios de transporte para personas recién llegadas<br>
            a Medellín, Colombia. Nuestro objetivo es que quienes nos elijan se sientan cómodas y<br>
            relajadas desde que bajan del avión hasta que se suben, nuevamente, para irse.<br>
            Si viene para disfrutar de la Ciudad o a trabajar estamos a su disposición para<br>
            transportarlo a dónde necesite con un servicio excepcional.</p>
        <article class="contactanos">
            <h2>Contáctanos</h2>
            <span>Si tienes dudas o quieres<br> más información sobre <br> nuestros servicios,<br> estamos para
                ayudarle.<br> ¡Contáctenos para una <br> mejor atención!</span>
            <span>Nombre</span>
            <input type="text">
            <span>Whatsapp</span>
            <input type="text">
            <span>Tipo de Servicio/Tour</span>
            <input type="text">
            <span>Correo Electrónico</span>
            <input type="text">
            <span>Mensaje</span>
            <input type="text">
            <button>Enviar</button>
            <button>Whatsapp</button>
        </article>
    </section>
    <footer class="main-footer">
        <div class="container-footer-logo">
            <img class="logo-footer" src="/img/logo.svg" alt="Logo-Medellin-Travel">
        </div>
        <ul class="footer-links">
            <li><a href="">Quienes Somos</a></li>
            <li><a href="">Políticas de privacidad</a></li>
            <li><a href="">Políticas de seguridad</a></li>
            <li><a href="">Términos y condiciones</a></li>
        </ul>
        <ul class="footer-links">
            <li><a href="">Contáctenos</a></li>
            <li><a href="">¿Necesitas ayuda?</a></li>
            <li><a href="">Nuestros servicios</a></li>
            <li><a href="">Envianos tu CV</a></li>
        </ul>
        <ul class="footer-links">
            <li><a href="">Números y horarios de atención</a></li>
            <li><a href="">Lunes a viernes 09hs a 18hs.</a></li>
            <li><a href="">Sábados 09hs a 15hs</a></li>
            <li><a href="">0800 222 5665</a></li>
        </ul>
    </footer>
</body>

</html>