
<!DOCTYPE html>
<html>

<head>
	<meta name="viewport"
		content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="/css/productCart.css">

</head>

<body>

    <header class="main-header-login">
        <nav class="main-navbar">
            <div class="container-nav-logo">
                <img class="nav-logo" src="/img/logo.svg" alt="Logo-Medellin-Travel">
            </div>
            <input type="checkbox" id="toggler">
            <label for="toggler"><i class="fa-solid fa-bars"></i></label>
            <div class="menu">
                <ul class="list-iniciado">
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-house"></i></a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-heart"></i></a></li>
                    <li class="li-menu-item"><a href="">Transportes</a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-user-large"></i></a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
                <ul class="list-iniciar">
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-house"></i></a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-heart"></i></a></li>
                    <li class="li-menu-item"><a href="">Transportes</a></li>
                    <li class="li-menu-item"><a href=""> Registrarse </a></li>
                    <li class="li-menu-item"><a href=""> Inicia Sesión</a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
            </div>
        </nav>

    </header>
	<div class="bg-img">
		
		
		<form class="container">
            <br><h1>Inicia sesión</h1><br><br><br>
			<b>Correo:</b>
			<input type="text" 
					name="username" required>

			<b>Contraseña:</b>
			<input type="password" 
					name="password" required>

					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="button">Continuar</button> <br><br>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Regístrate</b><br>
					&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>Olvidé mi contraseña</b>		
		</form>
	</div>
</body>

</html>
