
<!DOCTYPE html>
<html>

<%- include("partials/head") %> 


<body class="body-login">

    <header class="main-header-login">
           <%- include("partials/header-register") %> 
    </header>
	<div class="bg-img">
		
		
		<form class="container">
            <br><h1>Inicia sesión</h1><br><br><br>
			<b>Correo:</b>
			<input type="text" 
					name="username" placeholder="jperez@gmail.com" required>

			<b>Contraseña:</b>
			<input type="password" 
					name="password" placeholder="●●●●●●●●" required>

                    <div class="botones">
					<button type="submit" class="button">Continuar</button> <br><br>
					<input type="checkbox" id="recordar" name="recordar" >
					<b class="masOpciones">Recordar mi contraseña</b> <br>
					<a href=""><b class="masOpciones">Regístrate</b></a><br>
					<a href=""><b class="masOpciones">Olvidé mi contraseña</b></a>		
                     </div>
		</form>
	</div>
    <br>
    <br>

    <%- include("partials/footer") %> 
</body>

</html>
