<!DOCTYPE html>
<html class="html" lang="en">

<head>
    <%- include("partials/head") %> 
    <script defer src="js/productCart.js"></script>
    <link rel="stylesheet" href="/css/styleIndex.css">
</head>

<body class="body-cart">
    <header class="main-header">
         <%- include("partials/header-logged") %> 
    </header>

    <main class="main-cart">
        <div class="t-container">
            <ul class="t-tabs">
                <li class="li activo"><i class="fa-solid fa-cart-shopping"></i> Carrito</li></a>
                <li class="li"><i class="fa-solid fa-heart"></i> Favoritos</li></a>
            </ul>

            <div class="sub-container">
                <div class="section activo">
                    <div class="container-table">
                        <table class="article">
                            <thead>
                                <tr class="classification">
                                    <th>Artículo</th>
                                    <th>Personas</th>
                                    <th>Fecha</th>
                                    <th>Precio por persona</th>
                                    <th>Precio total</th>
                                    <th class="more-buttons"></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td data-titulo="Artículo:"> <span><img
                                                src="https://pbs.twimg.com/media/E2USmL4VUAI2nWo.jpg"
                                                alt="Piedra del Peñol">
                                        </span><div class="tour-name"> Piedra del Peñol </div> </td>
                                    <td data-titulo="Personas:"> - <span class="people-counter">2</span> + </td>
                                    <td data-titulo="Fecha:"> <input type="date"> </td>
                                    <td data-titulo="Precio por persona:">$5.000</td>
                                    <td data-titulo="Precio Total:">$10.000</td>
                                    <td class="cart-buttons"><a href="#" class="buy-button">Comprar Ahora</a> <a
                                            href="#" class="favorite"><i class="fa-solid fa-heart"></i></a> <a href="#"
                                            class="trash"> <i class="fa-solid fa-trash-can"></i></a></td>
                                </tr>
                                <tr>
                                    <td data-titulo="Artículo:"> <span><img
                                                src="https://149370792.v2.pressablecdn.com/wp-content/uploads/2016/12/IMG_4905.jpg"
                                                alt="Tour de graffitis"> </span><div class="tour-name"> Tour de graffitis </div></td>
                                    <td data-titulo="Personas:"> - <span class="people-counter">5</span> + </td>
                                    <td data-titulo="Fecha:"> <input type="date"> </td>
                                    <td data-titulo="Precio por persona:">5.000</td>
                                    <td data-titulo="Precio Total:">$25.000</td>
                                    <td class="cart-buttons"><a href="#" class="buy-button">Comprar Ahora</a> <a
                                            href="#" class="favorite"><i class="fa-solid fa-heart"></i></a> <a href="#"
                                            class="trash"> <i class="fa-solid fa-trash-can"></i></a></td>
                                </tr>
                                <tr class="total-purchase">
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td>
                                        <div class="total-price">Precio Total</div>
                                    </td>
                                    <td>
                                        <div class="total-amount"> <span class="container-total-amount">$35.000</span></div>
                                    </td>
                                    <td class="cart-buttons"><a href="#" class="buy-button">Comprar Ahora</a></td>
                                </tr>
                        </table>
                        </tbody>
                    </div>
                </div>

                <div class="section">
                    <div class="fav-articles">
                        <article>
                            <img src="https://149370792.v2.pressablecdn.com/wp-content/uploads/2016/12/IMG_4905.jpg"
                                alt="Tour de graffitis">
                            <h2>
                                Tour de graffitis <a href="#" class="favorite"><i class="fa-solid fa-heart"></i>
                            </h2>
                            <a href="#" class="reserve"> Reservar</a>
                        </article>
                        <article>
                            <img src="https://pbs.twimg.com/media/E2USmL4VUAI2nWo.jpg" alt="Piedra del Peñol">
                            <h2> Piedra del Peñol <a href="#" class="favorite"><i class="fa-solid fa-heart"></i>
                            </h2>
                            <a href="#" class="reserve"> Reservar</a>
                        </article>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <div class="footer">
        <<%- include("partials/footer") %> > 
    </div>
   
</body>

</html>