<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> productCart </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/productCart.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-navbar">
            <div class="logo">
                <i class="fa-solid fa-van-shuttle"></i>
            </div>
                <ul class="navbar">
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-house"></i></a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-heart"></i></a></li>
                    <li class="li-menu-item"><a href="">Transportes</a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-user-large"></i></a></li>
                    <li class="li-menu-item"><a href=""><i class="fa-solid fa-cart-shopping"></i></a></li>
                </ul>
        </nav>
    </header>
    <main>

    </main>
    <footer>

    </footer>
</body>

</html>