<!DOCTYPE html>
<html>

<%- include("partials/head") %>

<body class="body-login">

  <header class="main-header-login">
    <%- include("partials/header-register") %>
  </header>
  <div class="login-div-container">


    <form class="container2">
      <h1>Registrate</h1>
      <div class="row">
        <div class="column">
          <label for="name" class="form-label">Nombre:</label>
          <input type="text" name="name" placeholder="Juan" class="form-input" required>

          <label for="lastName" class="form-label">Apellido:</label>
          <input type="text" name="lastName" placeholder="Perez" class="form-input" required>

          <label for="cell" class="form-label">Teléfono:</label>
          <input type="text" name="cell" placeholder="+549238328" class="form-input" required>

        </div>
        <div class="column">

          <label for="email" class="form-label">Correo:</label>
          <input type="text" name="email" placeholder="jperez@gmail.com" class="form-input" required>

          <label for="password" class="form-label">Contraseña:</label>
          <input type="password" name="password" placeholder="●●●●●●●●" class="form-input" required>

          <label for="password" class="form-label">Confirmación de contraseña:</label>
          <input type="password" name="password" placeholder="●●●●●●●●" class="form-input" required>
        </div>
      </div>


      <div class="buttons">
        <button type="submit" class="button">Continuar</button>
        <a href="">
          <p class="moreOptions">Inicia sesión</p>
        </a>
      </div>
    </form>
  </div>


  <div class="register-footer">
    <%- include("partials/footer") %>
  </div>

</body>

</html>