<!DOCTYPE html>
<html>

<%- include("partials/head") %>

<body class="body-login">

  <header class="main-header-login">
    <%- include("partials/header-register") %>
  </header>
  <div class="bg-img-register">


    <form class="container2">
      <br>
      <h1>Registrate</h1><br>
      <div class="row">
        <div class="column">
      <b>Nombre</b>
      <input type="text" name="username" placeholder="Juan" required>
          <b>Teléfono</b>
          <input type="text" name="username" placeholder="+549238328" required>
          <b>Contraseña</b>
          <input type="password" name="username" placeholder="●●●●●●●●" required>
        </div>
        <div class="column">
        <b>Apellido</b>
      <input type="text" name="password" placeholder="Perez" required>
          <b>Correo</b>
          <input type="text" name="password" placeholder="jperez@gmail.com" required>
          <b>Confirmación de contraseña</b>
          <input type="password" name="password" placeholder="●●●●●●●●" required>
        </div>
      </div>

      
      <div class="botones">
        <button type="submit" class="button">Continuar</button> <br><br>
        <a href=""><b class="masOpciones">Inicia sesión</b></a><br>
      </div>
    </form>
  </div>

  <br><br><br><br><br><br><br><br>
  <br><br><br><br>

  <%- include("partials/footer") %>
</body>

</html>