.main-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.main-card {
    color: #ffffff;
}
.main-card h2 i {
    color: #000;
}

.container-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
    background-color:rgba(1, 1, 1, 0.65);
}

.img-card {
    border-radius: 50%;
    width: 250px;
}

.container-total {
    background-color: #f5f5f5;
    border-radius: 5px;
    border-left: 2px solid blue;
}

.last-container {
    margin-top: 50px;
}

.container-card h2 {
    font-size: 20px
}

.container-card h4 {
    font-size: 18px
}

.container-card p {
    font-size: 14px
}

@media (min-width: 768px) {

    .total-div {
        display: flex;
        justify-content: center;
        border-radius: 5px;
    }

    .container-total{
        margin-left: 15px;
    }

    .container-card {
        flex-direction: row;
        font-size: 18px;
        box-shadow: 10px 10px 5px 0px rgb(0, 0, 0);
        width:85%;
        height: 300px;
    }

    .img-card-div {
        margin-right: 40px;
    }
    .img-card {
        height: 260px;
        width: 390px;
    }
    .detail-card-div {
        margin-top: 0px;
    }

}

@media (min-width: 1024px) {
    .last-container {
        display: flex;
        justify-content: center;
    }
    
    .card-body {
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;
        border-radius: 5px;
    }
    
    .card-body i {
        width: 20px;
    }
    .container-card {
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 20px;
    }

    .container-card {
        text-align: center;
    }

    .container-card h2 {
        font-size: 24px
    }
    
    .container-card h4 {
        font-size: 20px
    }
    
    .container-card p {
        font-size: 17px
    }

    .img-card-div {
        margin-right: none;
    }
    .img-card {
        height: auto;
        width: 200px;
    }
}

@media (min-width: 1440px) {

    .last-container {
        display: flex;
        justify-content: center;
    }
    
    .card-body {
        display: flex;
        justify-content: space-between;
        background-color: #f5f5f5;
        border-radius: 5px;
    }
    
    .card-body i {
        width: 20px;
    }
    .container-card {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 300px;
    }

    .container-card {
        display: flex;
        flex-direction: row;
    }
    
    @media (min-width: 1920px) {
        .container-card h2 {
            font-size: 32px;
        }

        .container-card h4 {
            font-size: 24px
        }
        
        .container-card p {
            font-size: 20px
        }
        .container-card {
            text-align: left;
        }
    }
}

