

.container-table {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.table {
    font-family: arial sans-serif;
    border-collapse: collapse;
    width: 90%;
    margin: 10px;
    background-color: rgba(260, 260, 260, 0.3);
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

