/*general design */

* {
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

body {
    background-image: url("https://i.imgur.com/e7Q6fp6.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Fira Sans", sans-serif;
}

/* navbar responsive */


.main-navbar {
    background-color: rgba(1, 1, 1, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1px;
    width: 100%;
    /* position: fixed;
    z-index: 100; */
}

.main-navbar a {
    text-decoration: none;
    color: #ffffff;
    font-size: 17px;
}

.dropdown-content {
    background-color: rgba(1, 1, 1, 0.6);
}

.main-navbar ul {
    margin: 1.5% 0;
}

.main-navbar ul,
li {
    list-style: none;
}

.main-navbar a:hover,
i:hover {
    color: #7892c2;
}

.container-nav-logo {
    width: 50px;
    padding-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.nav-logo {
    width: 50px;
}

.menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
}

.list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.main-navbar label {
    display: inline-flex;
    align-items: center;
}

#toggler {
    display: none;
}

#toggler:checked~.menu {
    max-height: 100%;
}


/* Media queries */

@media (min-width: 768px) {

    /* navbar */

    .main-navbar {
        background-color: rgba(1, 1, 1, 0.65);
    }

    .container-nav-logo {
        width: 70px;
    }

    .nav-logo {
        width: 100%;
    }

    .menu {
        width: fit-content;
        max-height: fit-content;
        overflow: visible;
    }

    .list {
        flex-direction: row;
        align-items: flex-end;
    }

    #toggler,
    .main-navbar label {
        display: none;
    }

    .li-menu-item {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .main-navbar ul {
        display: flex;
    }

    .main-navbar li {
        margin: 5px 10px;
    }
  
}
